<!DOCTYPE html>
<html>
<head>
	<title>Movie Review</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
 	<link rel="stylesheet" type="text/css" href="movieReview.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  	<script src="movieReview.js"></script>
</head>
<body ng-app="movieReviewApp">
	<div ng-controller="movieReviewController">
		<nav class="navbar navbar-inverse ">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">{{title}}</a>
				</div>
			</div>
		</nav>
		<div class = "input-group search-bar"> 
		    <h4>Enter the movie name you want to search!</h4><br>
			<input type="search" ng-model="search" ng-model-options= "{debounce:1000}" placeholder="Enter full movie name" autofocus/>
			<span class="input-group-addon bar-style"><i class="glyphicon glyphicon-search"></i></span>
			
		</div>
		<div class="row">
		    <div class="movie-details col-sm-8" >
			    <ul class="details" ng-repeat="movies in moviesData">
				    <li><img ng-src="{{movies.poster_path=='N/A' && 'http://placehold.it/150x220&text=N/A' || 'https://image.tmdb.org/t/p/w500/' + movies.poster_path}}" class="movie-poster thumbnail"><a class="movie-title" href="http://www.imdb.com/title/{{fullData.imdb_id}}" target="_blank">{{movies.original_title}}</a>  <span class="reviews"><a href="#Movie Reviews">Reviews | </a><a href="#Add Review">Add your own review</a></span></li>
				    <li><span>Released On: </span>{{movies.release_date}}</li>
				    <li><span>Runtime: </span>{{fullData.runtime}}</li>
				    <li><span>Genre: </span><div id="genres" ng-repeat="genre in fullData.genres">{{genre.name}}, </div></li>
				    <li><span>Crew: </span><strong>{{fullData.credits.crew[0].job}} = </strong>{{fullData.credits.crew[0].name}}, <strong>{{fullData.credits.crew[1].job}} = </strong>= {{fullData.credits.crew[1].name}}, <strong>{{fullData.credits.crew[2].job}} = </strong> {{fullData.credits.crew[2].name}}, <strong>{{fullData.credits.crew[3].job}} = </strong> {{fullData.credits.crew[3].name}}, <strong>{{fullData.credits.crew[4].job}} = </strong>{{fullData.credits.crew[4].name}}, <strong>{{fullData.credits.crew[5].job}} = </strong> {{fullData.credits.crew[5].name}}</li>
				    <li><span>Cast: </span><div id="credits" ng-repeat="credit in fullData.credits.cast">{{credit.name}}, </div></li>
				    <li><span>Overview: </span>{{movies.overview}}</li>
				    <li><span>Language: </span>{{movies.original_language}}</li>
				    <li><span>Country: </span><div id="country" ng-repeat="country in fullData.production_countries">{{country.name}}</div></li>
				    
			    </ul>
			    <br>
			    <div ng-repeat="movies in moviesData">
				  <a class="links" href="https://www.youtube.com/results?search_query={{movies.original_title}}" target="_blank">Watch Trailers!</a>
				  |<a class="links" href="https://subscene.com/subtitles/title?q={{movies.original_title}}&l=" target="_blank">Get Subtitles!</a>
				  |<a class="links" href="http://www.amazon.in/s/ref=nb_sb_noss_1?url=search-alias%3Ddvd&field-keywords={{movies.original_title}}" target="_blank">Buy Online!</a>
			    </div>
			</div>
			<div class="no-results" ng-if="movies.Response==='False'">
			<h4>No results found!</h4>
		    </div>
			<div class="col-sm-2 movie-details" ng-if="relatedMovies.Response==='True'">
			    <span>Related Research: </span><br>
				<ul class="reated">
					<li ng-repeat="film in relatedMovies.Search" ng-click="update(film)"><a href="#">{{film.Title}}</a>, {{film.Year}}</li>
				</ul>
			</div>
		</div>
			
	</div>
    <br>
    <div ng-controller="reviewController">
    <div id="movie-reviews" class="row">
    	<div class="col-sm-8" ng-repeat="review in reviews">
    	<div ng-if="movies.imdbID === review.id">
    	<a name="Movie Reviews"></a>
    	<h4>Reviews</h4>
    	<span>User Name: {{review.userName}}</span><br>
    	<span>Ratings: {{review.stars}}</span><br>
    	<span>Review: {{review.message}}</span><br>
    	<span>Email: {{review.email}}</span><br>
        </div>
        </div>
    </div>
    <br>
	<div id="review-section" class="row">
		<div class="col-sm-8">
		<a name="Add Review"></a>
		<h4>Add Review</h4>
		<div class="form-group">

			<input type="text" name="userName" ng-model="review.userName" class="form-control" placeholder="Your name" autofocus /><br>
			<select ng-model="review.stars" ng-options="stars for stars in [5,4,3,2,1]" class="form-control" required >
				<option value="">Your rating</option>
			</select><br>
			<textarea ng-model="review.message" class="form-control" placeholder="Your review">
			</textarea><br>
			<input type="email" name="email" ng-model="review.email" class="form-control" placeholder="Your email address " required/><br>
			<input type="submit" name="submitReview" value="Submit Review" class="btn btn-primary pull-right" ng-click="addReview()"/>
		</div>
		</div>
	</div>
	</div>
</body>
</html>