body{
	font-family:'Montserrat';
	background-color: #a4e3a1
}

.search-bar{
	margin-left: 40px;
	margin-top: 50px;
	
}

input{
	
	width: 200px;
	height: 30px;
	
}



.details{
	list-style-type: none;
}

.related{
	list-style-type: circle;
}

.movie-poster{
	width: 150px;
	float: left;
	margin-right: 10px;
}

.movie-details{
	margin-top: 50px;
	margin-left: 40px;
	font-size: 16px;
}

.movie-title{
	font-size: 24px;
}

span{
	color: rgb(34,127,163);
	font-size:18px;
}


.bar-style {
  background: #337AB7;
  color: rgb(250, 250, 250);
  display: inline;
  
}



.links{
	background-color: #3fa8bf;
	color: rgb(250, 250, 250);
	padding: 3px;
	border-radius: 8%;
	margin-left: 10px;
}

#movie-reviews,#review-section{
	margin-left: 30px;

}

#genres,#country,#credits{
	display: inline;
}




